@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --background: #0A2640;
  --foreground: #1C3D5B;
  --button: #65E4A3;
  --page: #E5E5E5;
}

input::placeholder {
  color: black;
}

.pic {
  margin-top: -8rem;
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


